<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <center>
    <p>1  フォローしたいアカウントのリストを集める</p>
    <p>2  4分に1回フォローしていく（凍結対策）</p>
    <p>3 フォローして3日が経過した時、フォロバされてなければフォロー外す</p>
    <br><br><br><br>
    <p>
      アルゴリズムこうしてほしいなどあれば、柔軟に対応します。@neoneet_aiにDM下さい
    </p>
    <br><br><br><br><br><br>
    <a href="/twitter/command">back</a>
  </center>
</body>


</html>
