<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/main.css">
  <title>Document</title>
</head>
<body>
  <center>

    <p>will follow list</p>

    <br>

    <a href="/twitter/command">back</a>
      <br>
  <br>
    <p>↓下の方にある</p>

    <table border="1" bordercolor="black">
      <tr>
        <th><p>account_id</p></th>
        <th><p>follow_unix</p></th>
        <th><p>unfollow_unix</p></th>
        <th><p>status</p></th>
      </tr>

      {% for i in range(length) %}
      <tr>
        <th><a href="https://twitter.com/{{ user }}" target="_blank">@{{ users[i] }}</a></th>
        <th><p>{{ follows[i] }}</p></th>
        <th><p>{{ unfollows[i] }}</p></th>
        <th><p>{{ status[i] }}</p></th>
      </tr>

      <br>
      {% endfor %}



  </table>




  </center>
</body>

<style>
table{
  margin-top:-60px;
}
</style>
</html>
