<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <p>
      hello! {{ screen_name }}
    </p>
    <br>

    <p>
      collect list▽
    </p>
    <br>

    <p>
      特定のワードを含むツイートをした、特定のFF比(1:1)以下のユーザーのリストを集めます
    </p>
    <br>

    <form action="" method="post">

      <input type="text" placeholder="word" name="word">
      <br><br>
      <button type="submit" class="btn btn-primary btn-block">scraping start</button>

    </form>



    <br>
    <br>
    <br>

    <p>
      特定のアカウントのフォロワーのうち、特定のFF比(1:1)以下のユーザーのリストを集めます
    </p>
    <br>

    <form action="" method="post">
      @
      <input type="text" placeholder="person" name="person">
      <br><br>
      <button type="submit" class="btn btn-primary btn-block">scraping start</button>

    </form>
    <br>
    <br>
    <br>

    <a href="/twitter/check">check list</a>

    <br>
    <br>
    <br>


    <a href="/twitter/argo">アルゴリズム</a>

    <br>

    <br>
    <br>
    <br>
    <br>
    <br>

    <a href="/twitter/command">like(準備中)</a>
    <br>
    <br>
    <br>
    <br>

    <a href="/twitter/command">Direct message(準備中)</a>

    <br>
    <br>
    <br>
    <br>

    <a href="/twitter">back</a>


  </center>
</body>

</html>
