<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <center>
    <p>
      hello! {{ screen_name }}
    </p>
    <br>

    <p>
      ID: {{ oauth_token }}
    </p>
    <br>

    <p>
      password: {{ oauth_token_secret }}
    </p>
    <br>

    <p>
      IDとpasswordを控えておいてください　次のログインページで使います
    </p>
    <br>


    <a href="/twitter/login">Login</a>
  </center>
</body>
</html>
